* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container {
    display: flex;
    height: 100vh;
}


.color-side {
    background-image: url(images/bg-main-desktop.png);
    background-position: center;
    background-size: cover;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    position: relative;
    left: 150px;
}

.card-front {
    width: 340px;
    height: 214px;
    background-image: url(images/bg-card-front.png);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-front img {
    width: 80px;
}


.card-front h1 {
    color: hsl(0, 100%, 100%);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.name-date {
    display: flex;
    justify-content: space-between;
    color: hsl(270, 3%, 87%);
}

.name-date h2,
h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
}

.card-back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 340px;
    height: 214px;
    background-image: url(images/bg-card-back.png);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 20px;
    left: 50px;
    box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.card-back h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
    color: hsl(0, 100%, 100%);

}

.white-side {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 500px;
}

form label {
    color: hsl(278, 68%, 11%);
    display: block;
    font-weight: 600;
    margin: 30px 0 5px 0;
}

form input {
    padding: 15px 20px;
    width: 100%;
    border: solid 1px hsl(270, 3%, 87%);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}

form::placeholder {
    font-weight: 500;
}

input:active,
input:focus {
    border-radius: 10px;
    outline: none;
    border-image: linear-gradient(to right,
            hsl(249, 99%, 64%),
            hsl(278, 94%, 30%)) 1;

}

.side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.exp-date input {
    width: 100px;
}

.cvc input {
    width: 150px;
}

input[type=submit] {
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 100%, 100%);
    margin-top: 30px;
}



@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
        height: auto;

    }

    .color-side,
    .white-side {
        width: 100%;
    }

    .color-side {
        height: 40vh;

    }

    .white-side {
        padding-top: 60px;
    }

    .card-container {
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
    }


    .card-back {
        position: relative;
        top: 80px;
    }

    .card-front {
        z-index: 1;
    }



    form {
        max-width: 90%;
        padding-top: 2%;
    }

    .side-by-side {
        flex-direction: row;
        gap: 15px;
    }

    /* 
    .exp-date input,
    .cvc input {
        width: 100%;
    } */
}